In [1]:
import pandas as pd
import os
import numpy as np
import csv
import math

In [2]:

price_path ='C:/Users/eaststate/Desktop/스마/Project_Stock_Screener/data/stock_price'
price_file = os.listdir(price_path)

price_file_path = []
for i in price_file:
    price_file_path.append(price_path+"/"+i)
price_df = pd.read_csv(price_file_path[0],encoding='utf-8',index_col=0)


annual_price_list = ['종목코드','2015','2016','2017','2018','2019','2020']

annual_price_df = pd.DataFrame(columns=annual_price_list)

date_list_0331=[]
date_list_0330=[]
date_list_0401=[]
for i in range(2015,2021):
    date_list_0331.append(str(i)+'.03.31')
    date_list_0330.append(str(i)+'.03.30')
    date_list_0401.append(str(i)+'.04.01')
#

for i in range(len(price_file_path)):
    title = price_file_path[i]
    price_df = pd.read_csv(title,encoding='utf-8',index_col=0)
    change_dict={}

    for p in range(price_df.shape[0]):
        date= price_df.iloc[p,0]
        if date in date_list_0331:
            change_dict[date] = price_df.iloc[p,1]
        elif date in date_list_0330:
            change_dict[date] = price_df.iloc[p,1]
        elif date in date_list_0401:
            change_dict[date] = price_df.iloc[p,1]
    temp_dict=change_dict
    new_dict={}
    for s in range(2015,2021):
        for q in temp_dict:
            if str(s) in q:
                new_dict[q] = temp_dict[q]
                break
    row_list=[]
    row_list.append(price_file[i][0:6])
    for i in range(2015,2021):
        var = np.nan
        for p in new_dict:
            if str(i) in p:
                var =new_dict[p]
        row_list.append(var)
    annual_price_df.loc[len(annual_price_df)] = row_list

annual_price_df

       종목코드      2015      2016      2017      2018      2019      2020
0    000070   91000.0  157500.0  123500.0   98000.0   83500.0   41350.0
1    000080   22100.0   26950.0   20350.0   22450.0   18350.0   26950.0
2    000100  200000.0  281000.0  222500.0  222000.0  241500.0  224500.0
3    000120  195000.0  187000.0  166500.0  137500.0  169500.0  128000.0
4    000150  108500.0   85700.0   94700.0  106500.0   96100.0   35000.0
..      ...       ...       ...       ...       ...       ...       ...
195  282330       NaN       NaN       NaN  169000.0  211000.0  127500.0
196  285130       NaN       NaN       NaN  105000.0   70400.0   81500.0
197  294870       NaN       NaN       NaN       NaN   51200.0   15700.0
198  298040       NaN       NaN       NaN       NaN   41450.0   13150.0
199  316140       NaN       NaN       NaN       NaN   14150.0    7270.0

[200 rows x 7 columns]

In [3]:
change_price_list = ['종목코드','15-16','16-17','17-18','18-19','19-20']

change_price_df = pd.DataFrame(columns=change_price_list)

line= annual_price_df.shape[0]
for i in range(line):
    temp_df = annual_price_df.loc[i]
    change_row_list=[]
    change_row_list.append(temp_df.iloc[0])
    for i in range(1,6):
        a = temp_df.iloc[i]
        b = temp_df.iloc[i+1]
        c = b/a
        change_row_list.append(c)
    change_price_df.loc[len(change_price_df)] = change_row_list

change_price_df

       종목코드     15-16     16-17     17-18     18-19     19-20
0    000070  1.730769  0.784127  0.793522  0.852041  0.495210
1    000080  1.219457  0.755102  1.103194  0.817372  1.468665
2    000100  1.405000  0.791815  0.997753  1.087838  0.929607
3    000120  0.958974  0.890374  0.825826  1.232727  0.755162
4    000150  0.789862  1.105018  1.124604  0.902347  0.364204
..      ...       ...       ...       ...       ...       ...
195  282330       NaN       NaN       NaN  1.248521  0.604265
196  285130       NaN       NaN       NaN  0.670476  1.157670
197  294870       NaN       NaN       NaN       NaN  0.306641
198  298040       NaN       NaN       NaN       NaN  0.317250
199  316140       NaN       NaN       NaN       NaN  0.513781

[200 rows x 6 columns]

In [4]:
    mean_df=change_price_df.mean()
    mean_list =[]
    for i in range(1,6):
        mean_list.append(mean_df[i])
    mean_list

[1.1023991004722085,
 1.0380005688156935,
 1.0847551991572495,
 0.9148958155566016,
 0.6437824555558777]

In [5]:
group_price_list = ['종목코드','15-16','16-17','17-18','18-19','19-20']

group_price_df = pd.DataFrame(columns=group_price_list)

line_change= change_price_df.shape[0]

for i in range(line_change):
    temp_df = change_price_df.loc[i]
    group_row_list=[]
    group_row_list.append(temp_df.iloc[0])
    for i in range(1,6):
        a = temp_df.iloc[i]
        if a >1.15:
            binary = 2
        elif a > 1:
            binary = 1
        elif a<1:
            binary =0
        else:
            binary = np.nan
            
        group_row_list.append(binary)
    group_price_df.loc[len(group_price_df)] = group_row_list

group_price_df

       종목코드 15-16 16-17 17-18 18-19 19-20
0    000070     2     0     0     0     0
1    000080     2     0     1     0     2
2    000100     2     0     0     1     0
3    000120     0     0     0     2     0
4    000150     0     1     1     0     0
..      ...   ...   ...   ...   ...   ...
195  282330   NaN   NaN   NaN     2     0
196  285130   NaN   NaN   NaN     0     2
197  294870   NaN   NaN   NaN   NaN     0
198  298040   NaN   NaN   NaN   NaN     0
199  316140   NaN   NaN   NaN   NaN     0

[200 rows x 6 columns]

In [6]:
adjusted_group_price_list = ['종목코드','15-16','16-17','17-18','18-19','19-20']

adjusted_group_price_df = pd.DataFrame(columns=adjusted_group_price_list)

adj_line= change_price_df.shape[0]

for i in range(line_change):
    temp_df = change_price_df.loc[i]
    adjusted_group_row_list=[]
    adjusted_group_row_list.append(temp_df.iloc[0])
    for i in range(1,6):
        a = temp_df.iloc[i]
        if a > mean_list[i-1]*1.15:
            binary = 2
        elif a > mean_list[i-1]*0.85:
            binary = 1
        elif a < mean_list[i-1]*0.85:
            binary =0
        else:
            binary = np.nan
            
        adjusted_group_row_list.append(binary)
    adjusted_group_price_df.loc[len(adjusted_group_price_df)] = adjusted_group_row_list

adjusted_group_price_df.to_csv('adjusted_group_price_df.csv', encoding='cp949')

In [7]:
adjusted_group_price_df = adjusted_group_price_df.astype('int32',errors='ignore')
adjusted_group_price_df

       종목코드 15-16 16-17 17-18 18-19 19-20
0    000070     2     0     0     1     0
1    000080     1     0     1     1     2
2    000100     2     0     1     2     2
3    000120     1     1     0     2     2
4    000150     0     1     1     1     0
..      ...   ...   ...   ...   ...   ...
195  282330   NaN   NaN   NaN     2     1
196  285130   NaN   NaN   NaN     0     2
197  294870   NaN   NaN   NaN   NaN     0
198  298040   NaN   NaN   NaN   NaN     0
199  316140   NaN   NaN   NaN   NaN     0

[200 rows x 6 columns]

In [8]:
fin_path ='C:/Users/eaststate/Desktop/스마/Project_Stock_Screener/data/naver_finance'
fin_file = os.listdir(fin_path)

fin_file_path = []
for i in fin_file:
    fin_file_path.append(fin_path+"/"+i)

In [9]:
bal_list = ['종목코드','해당년도','매출증감비율','영업이익증감비율','당기순이익증감비율','자산총계증감비율','부채비율','부채증감비율','PBR','PER','log(PBR증감비율)','OPM','자본유보율','ROE','ROA','현금배당성향']
bal_df = pd.DataFrame(columns=bal_list)


bal_df
    
    

year_list=['2016/12','2017/12','2018/12','2019/12']

for q in range(len(fin_file_path)):
    fin_df = pd.read_csv(fin_file_path[q],encoding='cp949',index_col=1,skiprows=[0], thousands=',')
    fin_df= fin_df.iloc[:,1:8]
    for i in range(len(year_list)):
        append_list =[]
        stock_code = fin_file[q][0:6]
        stock_code = stock_code.replace('.csv','')
        append_list.append(stock_code)
        temp_list = append_list
        temp_list.append(year_list[i])
        mean_asset = (fin_df.iloc[7,i]+fin_df.iloc[7,i+1])/2
        sales_shift= (fin_df.iloc[0,i+1]-fin_df.iloc[0,i])/mean_asset
        operating_revenue_shift= (fin_df.iloc[2,i+1]-fin_df.iloc[2,i])/mean_asset
        net_revenue_shift= (fin_df.iloc[4,i+1] -fin_df.iloc[4,i])/mean_asset
        asset_shift_ratio=fin_df.iloc[7,i+1]/fin_df.iloc[7,i]
        debt_shift_ratio=fin_df.iloc[8,i+1]/fin_df.iloc[8,i]
        debt_ratio= fin_df.iloc[23,i+1]
        PER=fin_df.iloc[26,i+1]
        PBR=fin_df.iloc[28,i+1]
        PBR_shift_ratio_log=math.log(fin_df.iloc[28,i+1]/fin_df.iloc[28,i])
        reserve_ration=fin_df.iloc[24,i+1]
        ROE=fin_df.iloc[21,i+1]
        ROA = fin_df.iloc[22,i+1]
        OPM = fin_df.iloc[19,i+1]
        cash_dividend_payout=fin_df.iloc[31,i+1]
        #항목 더하기
        item_list =[sales_shift, operating_revenue_shift, net_revenue_shift, asset_shift_ratio, debt_ratio, debt_shift_ratio, PBR, PER, PBR_shift_ratio_log, OPM, reserve_ration, ROE, ROA, cash_dividend_payout]
        temp_list.extend(item_list)
        bal_df.loc[len(bal_df)] = temp_list

bal_df

C:\Users\eaststate\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\eaststate\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: RuntimeWarning: divide by zero encountered in double_scalars

,종목코드,해당년도,매출증감비율,영업이익증감비율,당기순이익증감비율,자산총계증감비율,부채비율,부채증감비율,PBR,PER,log(PBR증감비율),OPM,자본유보율,ROE,ROA,현금배당성향
0,000070,2016/12,0.045475,0.010992,-0.004134,1.031907,71.26,1.034272,0.68,46.87,-0.302281,6.10,2881.71,1.68,2.09,68.45
1,000070,2017/12,0.026313,-0.013095,0.000652,1.033634,68.88,1.013194,0.69,28.72,0.014599,4.12,2928.91,2.76,2.08,41.08
2,000070,2018/12,0.050745,0.012049,0.010714,1.011538,65.53,0.981814,0.43,9.95,-0.472906,5.40,3047.14,5.03,3.11,22.13
3,000070,2019/12,-0.021700,-0.017122,-0.011734,1.083198,76.87,1.189115,0.37,19.25,-0.150282,3.19,3077.36,2.18,1.80,50.19
4,000080,2016/12,-0.005043,-0.002915,-0.004372,0.982835,163.26,0.987499,1.14,39.18,-0.075986,6.56,271.98,2.94,1.12,163.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,298040,2019/12,0.430737,0.021605,0.003794,1.165564,303.92,1.190877,0.27,18.91,-0.465363,3.45,1910.73,1.45,0.43,0.00
796,316140,2016/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,316140,2017/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,316140,2018/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,316140,2019/12,NaN,NaN,NaN,NaN,1319.96,NaN,0.39,4.18,NaN,12.33,605.90,NaN,NaN,27.00

In [10]:
bal_df['group'] = ''

bal_df

,종목코드,해당년도,매출증감비율,영업이익증감비율,당기순이익증감비율,자산총계증감비율,부채비율,부채증감비율,PBR,PER,log(PBR증감비율),OPM,자본유보율,ROE,ROA,현금배당성향,group
0,000070,2016/12,0.045475,0.010992,-0.004134,1.031907,71.26,1.034272,0.68,46.87,-0.302281,6.10,2881.71,1.68,2.09,68.45,
1,000070,2017/12,0.026313,-0.013095,0.000652,1.033634,68.88,1.013194,0.69,28.72,0.014599,4.12,2928.91,2.76,2.08,41.08,
2,000070,2018/12,0.050745,0.012049,0.010714,1.011538,65.53,0.981814,0.43,9.95,-0.472906,5.40,3047.14,5.03,3.11,22.13,
3,000070,2019/12,-0.021700,-0.017122,-0.011734,1.083198,76.87,1.189115,0.37,19.25,-0.150282,3.19,3077.36,2.18,1.80,50.19,
4,000080,2016/12,-0.005043,-0.002915,-0.004372,0.982835,163.26,0.987499,1.14,39.18,-0.075986,6.56,271.98,2.94,1.12,163.80,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,298040,2019/12,0.430737,0.021605,0.003794,1.165564,303.92,1.190877,0.27,18.91,-0.465363,3.45,1910.73,1.45,0.43,0.00,
796,316140,2016/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
797,316140,2017/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
798,316140,2018/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
799,316140,2019/12,NaN,NaN,NaN,NaN,1319.96,NaN,0.39,4.18,NaN,12.33,605.90,NaN,NaN,27.00,

In [14]:
for i in range(bal_df.shape[0]):
    row = bal_df.iloc[i]
    stock = row['종목코드']
    date = row['해당년도']
    df = adjusted_group_price_df.loc[adjusted_group_price_df['종목코드'] == stock]
    if date == '2016/12':
        num = df.iloc[0,3]
    elif date == '2017/12':
        num = df.iloc[0,4]
    elif date == '2018/12':
        num = df.iloc[0,5]
    else:
        num = np.nan
    bal_df.iloc[i,16] = num

C:\Users\eaststate\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [15]:
bal_df=bal_df.dropna()
bal_df

,종목코드,해당년도,매출증감비율,영업이익증감비율,당기순이익증감비율,자산총계증감비율,부채비율,부채증감비율,PBR,PER,log(PBR증감비율),OPM,자본유보율,ROE,ROA,현금배당성향,group
0,000070,2016/12,0.045475,0.010992,-0.004134,1.031907,71.26,1.034272,0.68,46.87,-0.302281,6.10,2881.71,1.68,2.09,68.45,0
1,000070,2017/12,0.026313,-0.013095,0.000652,1.033634,68.88,1.013194,0.69,28.72,0.014599,4.12,2928.91,2.76,2.08,41.08,1
2,000070,2018/12,0.050745,0.012049,0.010714,1.011538,65.53,0.981814,0.43,9.95,-0.472906,5.40,3047.14,5.03,3.11,22.13,0
4,000080,2016/12,-0.005043,-0.002915,-0.004372,0.982835,163.26,0.987499,1.14,39.18,-0.075986,6.56,271.98,2.94,1.12,163.80,1
5,000080,2017/12,-0.000087,-0.010653,-0.007440,1.031313,188.10,1.085767,1.38,135.43,0.191055,4.62,254.67,1.01,0.37,440.64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,251270,2018/12,-0.074856,-0.049737,-0.027085,1.015951,19.37,0.998980,2.14,50.08,-0.547527,11.96,54071.11,4.36,3.99,0.00,2
774,267250,2018/12,0.585812,0.000832,-0.032959,1.117729,121.22,1.186062,0.65,20.98,-0.129678,3.16,9928.56,3.53,1.28,100.70,1
778,271560,2018/12,0.370374,0.075845,0.028767,1.041364,62.78,0.993100,3.37,33.92,0.064341,14.64,3992.84,10.31,6.21,16.96,2
782,282330,2018/12,3.505217,0.118116,0.091449,1.160639,184.20,1.081242,6.76,22.87,-0.322212,3.28,2788.51,33.88,11.17,30.03,1
786,285130,2018/12,0.662611,0.028422,-0.003365,1.020079,168.87,1.037338,1.32,151.41,inf,3.34,1020.34,0.87,-0.85,87.64,2

In [13]:
bal_df.to_csv('revised_raw.csv',encoding='cp949')